body {
    overflow-x: hidden;
}

.carrousel {
    width: 90%;
    max-width: 120em;
    background-color: #B8C6DB;
    padding: 1em;
    margin: 1px auto;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #B8C6DB;
    overflow-x: hidden;
}

.carrousel .grande {
    width: 200%;
    /* background-color: orange; */
    border-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    justify-content: space-between;

    transition: all.5s ease;
    transform: translateX(0%);

    cursor: pointer;
}

.carrousel .img {
    width: calc(100% / 2);

    min-height: 10vh;
    border-radius: 32px;

    padding: 0px 17px;
    margin-top: 15px;
}

.carrousel .puntos {
    width: 100%;
    padding: .4em;
    margin: 1em 0 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 1em;
    height: 1em;
    background-color: #ffffff;
    margin: .2em;
    list-style: none;
    border-radius: 100%;
    border: 1px solid black;

}

.carrousel .punto.activo {
    background-color: orange;
}