#card_dislay_CV {
    display: grid;
    grid-auto-flow: row;
    border-radius: 15px;
    /* grid-template-rows: 150px auto; */
    padding: 10px;
    margin: 10px 15px;
    background-color: #f6fbf4;
    row-gap: 25px;
    box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
    background: #4ca1af;
    background: -webkit-linear-gradient(to right, #acf3ff, #059bb4b8);
    background: linear-gradient(to right, #acf3ff, #059bb4b8);
  }

  #card_dislay_CV h2 {
    padding: 16px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 700;
    color: #dd4747;
  }

  #card_dislay_CV p {
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 13px;
    text-align: center;
  }

  #card_dislay_CV button {
    margin-bottom: 20px;
  }
