#card_dislay_CV {
    display: grid;
    grid-auto-flow: row;
    border-radius: 15px;
    /* grid-template-rows: 150px auto; */
    padding: 10px;
    margin: 10px 15px;
    background-color: #f6fbf4;
    row-gap: 25px;
    box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
    background: #4ca1af;
    background: -webkit-linear-gradient(to right, #acf3ff, #4ca1af);
    background: linear-gradient(to right, #acf3ff, #4ca1af);
  }

  #card_dislay_CV h2 {
    padding: 16px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 700;
    color: #dd4747;
  }

  #card_dislay_CV p {
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 13px;
    text-align: center;
  }

  #card_dislay_CV button {
    margin-bottom: 20px;
  }

  #btn_CV_display {
    background: #fff;
    color: #000000;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    padding: 16px 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    -webkit-box-shadow: 7px 14px 13px -7px rgb(181 121 181 / 56%);
    -moz-box-shadow: 7px 14px 13px -7px rgba(181, 121, 181, 0.56);
    box-shadow: -1px 15px 18px -10px #b579b59e;
  }

  #btn_CV_display::after {
    border-radius: 20px;
    content: "";
    background: #e45858;
    border: 1px solid #b579b59e;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  #btn_CV_display:hover {
    color: #ffffff; /* color de fuente hover */
  }

  #btn_CV_display:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }