:root{
    --orange_rich: #ffb75e;
    --soft-blue: #e7f5ff;
    --grey: #bababa;
    --color_backgroud_img: #95aec4;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
} 


#dathvaderICON{
    width: 30px;
    height: 30px;
}

#img_header_logo{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    opacity: 0.9;
    margin-bottom: -5px;
}

#contact_go{
    background-color: #bababa;
}



.header_main{
    background: #ff9107e8;  /* fallback for old browsers */
    background: linear-gradient(to right, #FBD065, #FBD065);


    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 600px;
    text-align: center;
}

.header_main_content_text{
    width: 97%;
    /* margin-top: 10px; */
    /* font-weight: bolder; */
    min-width: 288px;
    max-width: 900px;
    /* height: 218px; */
    
    text-align: center;
    align-self: center;
}

.header_main_content_image{
    /* margin-top: 60px; */
    text-align: center;
    align-self: center;
    background-color: white;
    border-radius: 20px;
    padding-bottom: -100px;
    position: relative;
}

.text_content_card_img{
    position: absolute;
    bottom: 0;
    margin-left: 20px;
}

.card_title_job{
    color: black;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.header_main > div h1{
    margin-bottom: 20px;
    font-weight: bold;
    
}

.header_main > .header_main_content_text > div p{
    line-height: 1.5;
    align-self: center;
    font-weight: 400;
    color: rgb(64, 64, 65);
}

