:root{
    --gray: #c1c1c1;
    --green-light: #54fcb6;
    --lg: 32px;
    --md: 22px;
    --sm: 12px;
    --ms: 17px;
    --azulito-besho: #24d6ed57;
}
body{
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 6px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--azulito-besho);
    border-radius: 50px;
}
/* End Global */

.contactMe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    height: fit-content;

    /* Thanks u cssgenerator... Again xd */
    
    box-shadow: -2px 6px 11px -3px rgb(110 96 96);
    -webkit-box-shadow: -2px 6px 11px -1px rgb(110 96 96);
    -moz-box-shadow: -2px 6px 11px -3px rgba(110,96,96,1);
}

.contactMe_imageContainer{
    justify-self: center;
    background-color: white;
}

.contactMe_imageContainer figure{
    padding: 0;
    margin: 0;
}

.contactMe_imageContainer figure img{
    object-fit: cover;
}

.contactMe_contentContainer{
    background-color: #000000cc;
    color: white;
    padding-left: 50px;
    padding-top: 18px;
}

.contactMe_titleContainer h2{
    text-align: start;
    font-size: var(--lg);
    width: 50%;
    text-transform: capitalize;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
}

.contactMe_titleContainer span{
    letter-spacing: 1px;
    font-size: var(--ms);
    font-weight: 500;
    display: inline-block;
    margin-bottom: 12px;
}

/* .contactMe_buttonsContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
} */

.buttonCommon{
    cursor: pointer;
    background-color: white;
    outline: none;
    padding: 21px;
    border-radius: 40px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    display: block;
    margin-top: 12px;
    width: 55%;
    font-size: 16px;
    font-family: 'Quicksand';
}

.typeSecond{
    color: white;
    background-color: #1657ff;
    margin-bottom: 15px;
}


/* Second Seccion */

#Cards-Services{
    margin-top: 120px;
}

#Cards-Services > h2{
    text-align: center;
    font-size: var(--lg);
    font-weight: bold;
    margin-top: 30px;
}

.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Card{
    height: fit-content;
    margin: 22px;
    border-radius: 31px;
    padding: 35px;
    margin-top: 30px;

    /* thansk u cssgenerator xd */
    box-shadow: 6px 10px 19px -2px var(--azulito-besho);
    -moz-box-shadow: 8px 13px 16px -3px (--azulito-besho);
}

.CardImage{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.CardImage figure{
    padding: 0;
    margin: 0;
    position: relative;
    align-items: center;
}

.CardImage figure img{
    object-fit: contain;
    width: 70px;
    height: 70px;

    z-index: 2;
    position: relative;
}

.circulo{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: black;
}

.size-lg{
    width: 95px;
    height: 95px;
}

.size-ms{
    width: 35px;
    height: 35px;
}

.oneA{
    top: -11px;
    left: -45px;
    background-color: #1881fb42;
    z-index: 1;
}

.oneB{
    right: -15px;
    top: -21px;
    background-color: #ff6464f7;;
    z-index: 1;
}

.twoA{
    background: #5cefc6b8;
    top: -15px;
    left: -10px;
    z-index: 1;
}
.twoB{
    background-color: #ff64644d;
    z-index: 1;
    right: -45px;
    bottom: -15px;
}

.threeA{
    left: -11px;
    top: -11px;
    z-index: 1;
}

.threeB{
    z-index: 3;
    left: -15px;
    top: -15px;
    background-color: white;
    border: 1px solid transparent;
}

.CardText{
    text-align: center;
}

.CardText h2{
    font-weight: bold;
    font-size: var(--md);
    color: black;
}

.CardText p{
    font-weight: 400;
    font-size: var(--ms);
    color: black;
}